*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

#root{display: flex; justify-content: center;}

.App{width: 800px; }


.component-wrapper{
    display: inline-block;
    background: #ececec;
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 15px 20px;
    margin: 0 15px 15px 0; 
    border-radius: 10px;
}

hr{margin: 15px 0; }

.post{
    display: flex;
    padding: 15px; 
    border: 2px solid teal;
    margin-top: 15px; 
    justify-content: space-between;
    align-items: center; 
}



.pages__wrapper{
    margin-top: 30px; 
    display: flex;
}
.pages__page{
    padding: 10px; 
    border: 1px solid teal; 
    cursor: pointer; 
}
.pages__page_current{
    border: 2px solid orange;
    font-weight: bold;
}